<div class="infowindow">
  <% if homeless.photos.present? %>
  <%= image_tag homeless.photos.last.picture, class: "avatar" %>
  <%else %>
  <%= image_tag "https://i.stack.imgur.com/HQwHI.jpg", class: "avatar" %>
  <%end %>

  <div>
    <p><%= homeless.name %></p>
    <%= link_to "View", homeless_path(homeless), class: "btn btn-yours" %>
  </div>
</div>
