<div class='homeless_phone' >
<p> No one Phone registered yet. However the profile's map is now revealed.</p>
<p> You can find now until the last 5 <span class="type-rise"> <%= @homeless.name %> </span>'s position. Blue Pin show the most recent one. </p>
</div>

<span class="close">Close</span>
