<div class='homeless_phone' >
<p> No one Phone registered yet. However map is now revealed.</p>
<p> Cross <span class="type-rise"> <%= @homeless.name %> </span> according to the last 5 posiiton markers revealed on the map. Blue marker is the last. </p>
</div>

<img src='<%=image_path('http://res.cloudinary.com/dk9kkvy1o/image/upload/v1504200644/Capture_d_e%CC%81cran_2017-08-31_a%CC%80_14.28.52_k4e9az.png') %>' class='img-responsive photo-modal'>

<span class="close">Close</span>
