<% if @intention.errors.present? %>
  $("#error-message").html(" <p class= sign-in-text> <%= t("choose") %> </p>")
<% else %>
  <% if @homeless.phone.present? %>
  var stu = "<%= j render "modalwithphone" %>"
    $("#homeless_modal").html(stu);
  <% else %>
    var str = "<%= j render "modalphone" %>";
    $("#homeless_modal").html(str);
  <% end %>

  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() {
    modal.style.display = "none";
  }

  $("#map").html('<div id="map" style="width: 100%; height: 200px;"></div>')
  $(document).ready(function() {
      var handler = Gmaps.build('Google',
        {markers:
          {clusterer: {
          gridSize: 200,
          maxZoom: 10}}});
          handler.buildMap({internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
          }
      });
    });
<% end %>

//
