<% content_for :title, "Edit #{@homeless.nickname} #{@homeless.last_name} infos" %>


<h5 class="sign-in-title"> <%= t("info-update") %> </h5>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= render partial: "form2" %>
    </div>
  </div>
</div>



