<% content_for :title, "Edit #{@homeless.name} #{@homeless.last_name} infos" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4" style="width: 40rem;">
      <div class="form-styling">
        <h5 class="sign-in-title">Any informations to update ?</h5>
        <%= render partial: "form2" %>
      </div>
    </div>
  </div>
</div>



