<div id="map"></div>

 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuLStTlfI2-db0vmAwwENL7MKNFN3q1YY&callback=initMap">
    </script>

<div>
  <%= link_to "Add a new homeless", new_homeless_path %>
  <% @homelesses.each do |homeless| %>
  <p> <%= homeless.name %> </p>
  <p> <%= homeless.story[0..20] %> </p>
  <% end %>
</div>



    <!-- TODO: Put your HTML code in here -->

<!--
    Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->

    <script src="javascripts/application.js"></script>


