<% if @homeless.present? %>
  $("#location-result").html("<%= j render 'address_form', homeless: @homeless %>");
  var homeless_location = $('.location').get(0);

  if (homeless_location) {
    var autocomplete = new google.maps.places.Autocomplete(homeless_location, { types: ['geocode'] });
    google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
    google.maps.event.addDomListener(homeless_location, 'keydown', function(e) {
      if (e.keyCode == 13) {
        e.preventDefault(); // Do not submit the form on Enter.
      }
    });
    $(".alert.alert-warning.alert-dismissible").remove();
  }
<% else %>
  if($(".alert.alert-warning.alert-dismissible").length > 0) {
    $(".alert.alert-warning.alert-dismissible").fadeOut("slow", function() {
      $(".alert.alert-warning.alert-dismissible").remove();
      $(".navbar-wagon").after(' <div class="alert alert-warning alert-dismissible" role="alert"> \
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
        Try again with an other orthographe otherwise create it in the Map session\
      </div>');
    });
  } else {
    $(".navbar-wagon").after(' <div class="alert alert-warning alert-dismissible" role="alert"> \
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
      Try again with an other orthographe otherwise create it in the Map session\
    </div>');
  }
<% end %>
