<div class = "container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4" style="width: 40rem;">
      <div class="form-update-position">
        <form class="center sign-in-text form-group " action="/homelesses/retrieve" accept-charset="UTF-8" data-remote="true" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
          <div class="form-group">
            <h5> Update one Homeless' Location </h5>
            <label for="name">Name</label>
            <input id="name" name="homeless[name]" type="text" class="form-control" />
            <label for="last_name">Last Name</label>
            <input id="last_name" name="homeless[last_name]" type="text" class="form-control" />
          </div>
          <button type="submit" class="btn btn-block btn-yours">Search</button>
        </form>
    </div>
  </div>
</div>
