
<%= @homeless.name %>
<%= @homeless.story %>

<p> <%= link_to "Create a review", new_homeless_review_path(@homeless) %> </p>

<% @homeless.reviews.each do |review| %>
<%= review.content %>
<% end %>

