<div class="container">
                    <div class="row">
                        <div class="heading-title text-center">
                            <h3 class="text-uppercase">Coding against poverty👩‍💻! </h3>
                            <p class="p-top-30 half-txt"> We code in Ruby On Rails. Our project is open source. Front, Back or Full there is foods for everybody 🍖 !!</p>
                            <p class=" half-txt">You know how it's works baby : Fork • Code • Pull • Repeat 🤟!! </p>

                              <div class="text-center p-top-10">
                                <a href="https://github.com/login?return_to=%2FAllanBallester%2FRiSE" class="navbar-wagon-item navbar-wagon-link btn-yours4"> Fork our Git Repository <i class="fa fa-github"></i></a>
                       <!--  <%= link_to t("fork our") , "https://github.com/login?return_to=%2FAllanBallester%2FRiSE" , target: :_blank, class: "navbar-wagon-item navbar-wagon-link btn-yours4" %> --> -->
                              </div>

                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547644538/connect-with-facebook_k5zhfw.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>#128 - Facebook shut down</h4>
                                        <p>As a user I will connect with Facebook like this less pain you kn ow 😎..</p>
                                        <p>Fullstack</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://github.com/AllanBallester/RiSE/issues/128"><i class="fa fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547630666/WhatsApp_Image_2018-02-14_at_21.54.13_1_1_zi9lb0.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello World</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547637080/P1033471_1_1_1_z5mtbs.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>I love to design</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                      <div class="row">

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547637261/P1044605_2_2_xn7elr.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Léa WOITTEQUAND</h4>
                                <span class= "title-wow">RiSER in Lille 🇫🇷</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547636944/P1033444_1_1_iiesiq.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello World</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Kevin COSTE</h4>
                                <span class= "title-wow">MALE NURSE 👨🏻‍⚕️</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547633603/7da880f4-c6f3-4c06-a2ca-69d4ca4aa1fe_cy7lco.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>I love to design</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Caroline FLAMENT</h4>
                                <span class= "title-wow">RiSER in Lille 🇫🇷</span>
                            </div>
                        </div>
                     </div>

                     <div class="row">

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547636632/03cb7284-e97c-4045-aa92-a8a6cb05e1af_tek999.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Kevin HERISSE</h4>
                                <span class= "title-wow">RiSER in Lille 🇫🇷</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547636842/photo_12_1_1_mhnjha.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello World</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Mohammed THIAM</h4>
                                <span class= "title-wow">SEO Consultant 💻</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547637458/IMG_7938_1_fbvyii.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>I love to design</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Alexis DUFOUR</h4>
                                <span class= "title-wow">Fullstack Developer 👨‍💻</span>
                            </div>
                        </div>
                     </div>


                      <div class="row">

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547637983/Screen_Shot_2019-01-16_at_12.25.48_fouozp.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Mikel CAZENAVE</h4>
                                <span class= "title-wow">Graphic Designer 👨🏻‍🎨</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547638125/P1122190_1_diccmv.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello World</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Laurene CARREZ</h4>
                                <span class= "title-wow">Graphic Designer 👨🏻‍🎨</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547639937/26815446_10214032284793496_8575122238500112743_n_1_1_s0rmid.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Wants more information ?</h4>
                                        <p> Start conversation with us on any social media.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/WeRisers/"><i class="fa fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/rise_homeless_giving/?hl=en"><i class="fa fa-instagram"></i></a>
                                        <a href="https://www.linkedin.com/company/risekindness/"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Will you be the next ?</h4>
                                <span class= "title-wow"> </span>
                            </div>
                        </div>
                     </div>
                </div>
