<div class= "banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "photo22.png" %>);">
  <div class="banner-content">
    <h1><i class="fa fa-paper-plane" aria-hidden="true"></i>RiSE</h1>
    <p class="big p"> You want to shorten Human bareers with your camera.</p>
   <form class="form-inline" action="https://www.linkedin.com/company-beta/25009956/" target="_blank" method="get" id="ButtonGeoloc">
  <div class="form-group">
    <button class = "btn btn-yours btn-linkedin"> RiSE Photo Exhibitions </button>
  </div>
  </div>
</form>
  </div>

<div class= "banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "coding.jpg" %>);">
  <div class="banner-content">
    <h1><i class="fa fa-paper-plane" aria-hidden="true"></i>RiSE</h1>
    <p class="big p"> You know Rails and want to code against poverty . </p>
   <form class="form-inline" action="https://www.linkedin.com/company-beta/25009956/" target="_blank" method="get" id="ButtonGeoloc">
  <div class="form-group">
    <button class = "btn btn-yours btn-linkedin"> Join one Coding Sprint </button>
  </div>
  </div>
</form>
  </div>


<div class= "banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "cityambassador.jpg" %>);">
  <div class="banner-content">
    <h1><i class="fa fa-paper-plane" aria-hidden="true"></i>RiSE</h1>
    <p class="big p"> You want to accelerate the growth of RiSE in your city. </p>
   <form class="form-inline" action="https://www.linkedin.com/company-beta/25009956/" target="_blank" method="get" id="ButtonGeoloc">
  <div class="form-group">
    <button class = "btn btn-yours btn-linkedin"> Become a City Growth </button>
  </div>
  </div>
</form>
  </div>
