<div class="container">
                    <div class="row">

                      <div class="heading-title text-center">
                            <h3 class="text-uppercase">Envi.e de rejoindre le Mouv 📣 ? </h3>
                            <p class="p-top-30 half-txt"> Si tu veux faire tourner les jambes sélectionne Devenir Livreur. </p>
                            <p class="half-txt"> Si tu veux tapper dans le backoffice avec nous rejoins Slack. </p>
                            <p class="half-txt"> Et sinon jettes un coup d'oeil un peu plus bas qui on est ✌️. </p>

                              <div class="text-center p-top-10">
                         <a href="https://linktr.ee/joinpoureux" class="navbar-wagon-item navbar-wagon-link btn-yours5" target="blank"> Devenir Livreur <i class="fa fa-bicycle"></i></a>
                         <a href="https://join.slack.com/t/risekindness/shared_invite/enQtNTI3NjUwNDM5MTg3LWFkODE5Y2Q0NjY3OWM2YjVhMTY3MzM2M2I0YjZlYjk3ZDAyZjI3NjlkMDkwZGVkOWM2YTdkZmI4YmUzNTBjYzk" class="navbar-wagon-item navbar-wagon-link btn-yours5" target="blank"> Rejoindre le Slack <i class="fa fa-slack"></i></a>
                         <!-- <%= link_to t("readart"), "https://join.slack.com/t/risekindness/shared_invite/enQtNTI3NjUwNDM5MTg3LWFkODE5Y2Q0NjY3OWM2YjVhMTY3MzM2M2I0YjZlYjk3ZDAyZjI3NjlkMDkwZGVkOWM2YTdkZmI4YmUzNTBjYzk" , target: :_blank, class: "navbar-wagon-item navbar-wagon-link btn-yours4" %> -->
                              </div>

                        <div class="heading-title text-center">
                         <!--    <h3 class="text-uppercase"> LES CHARTES DU MOUVEMENT ✌️! </h3>
                            <p class="p-top-30 half-txt"> Si tu kiffes, share 👊 !!</p> -->
                            <!-- <p class=" half-txt">You know how it's works baby : Fork • Code • Pull • Repeat 🤟!! </p> -->

                              <!-- <div class="text-center p-top-10">
                                <a href="https://github.com/login?return_to=%2FAllanBallester%2FRiSE" class="navbar-wagon-item navbar-wagon-link btn-yours5 " target="blank"> Fork our Git Repository <i class="fa fa-github"></i></a>
                       <!--  <%= link_to t("fork our") , "https://github.com/login?return_to=%2FAllanBallester%2FRiSE" , target: :_blank, class: "navbar-wagon-item navbar-wagon-link btn-yours4" %> --> -->
                              <!-- </div> -->
                        </div>



                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1586876895/CharteBouffeLeMouv_1_lypnkr.png" alt="team member" class="img-responsive">
                                </div>
                                <!-- <div class="team-hover">
                                    <div class="desk">
                                        <h4>#135 As a RiSER I can get a profile</h4>
                                        <p>It's start to be important to consider that RiSErs are Citizens 2.0 🤖.</p>
                                         <span> Coder • FullStack 👩‍👩‍🎨🎨🎨|  </span>
                                        <span> Level • ⭐️⭐️ </span>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://github.com/AllanBallester/RiSE/issues/135" target="blank"><i class="fa fa-github"></i></a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1586876913/CharteLivreursPourEux_lmnnwv.png" alt="team member" class="img-responsive">
                                </div>
                                <!-- <div class="team-hover">
                                    <div class="desk">
                                        <h4>#131 - Card's hover is not working on phone</h4>
                                        <p>Want to know the sexy presentation of Elise but get stuck 😭 !!</p>
                                        <span> Coder • Back 👩‍💻|  </span>
                                        <span> Level • ⭐️ </span>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://github.com/AllanBallester/RiSE/issues/131" target="blank"> <i class="fa fa-github"></i></a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1586876959/CharteBeneficiairesPourEUx_vjwt6t.png" alt="team member" class="img-responsive">
                                </div>
                               <!--  <div class="team-hover">
                                    <div class="desk">
                                        <h4>#136 - As a RiSEr I can notify live other RiSErs</h4>
                                        <p>Instantaneity is the key of tomorrow. Why not starting with message technology 💬 ?</p>
                                        <span> Coder • FullStack 👩‍👩‍🎨💻|  </span>
                                        <span> Level • ⭐️⭐️⭐️ </span>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://github.com/AllanBallester/RiSE/issues/136" target="blank"><i class="fa fa-github"></i></a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>
                    </div>

                      <div class="row">

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1586876902/CharteMouvementPourEux_a0uaoq.png" class="img-responsive">
                                </div>
                            <!--     <div class="team-hover">
                                    <div class="desk">
                                        <h4> #124 - Cards | Display default picture if there is no one registered.</h4>
                                        <p> They will still anonymous no worries.</p>
                                        <span> Coder • Fullstack 👩‍👩‍🎨💻|  </span>
                                        <span> Level • ⭐️ </span>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://github.com/AllanBallester/RiSE/issues/124" target="blank"><i class="fa fa-github"></i></a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1586876875/CharteCollecteInfoPourEUx_zpbyzi.png" alt="team member" class="img-responsive">
                                </div>
                                <!-- <div class="team-hover">
                                    <div class="desk">
                                        <h4> #132 - As a RiSER I can find RiSER of my city</h4>
                                        <p> #LadiesPower is proving it !!</p>
                                        <span> Coder • FullStack 👩‍🎨|  </span>
                                        <span> Level • ⭐️⭐️ </span>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://github.com/AllanBallester/RiSE/issues/132" target="blank"><i class="fa fa-github"></i></a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591108575/CharteTrajectoirePourEux_ea1fpi.png" class="img-responsive">
                                </div>
                            <!--     <div class="team-hover">
                                    <div class="desk">
                                        <h4> #124 - Cards | Display default picture if there is no one registered.</h4>
                                        <p> They will still anonymous no worries.</p>
                                        <span> Coder • Fullstack 👩‍👩‍🎨💻|  </span>
                                        <span> Level • ⭐️ </span>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://github.com/AllanBallester/RiSE/issues/124" target="blank"><i class="fa fa-github"></i></a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>

                        <!-- <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547676883/photo_14_1_2_kzmduy.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> #133 • Profile - Photo gallery</h4>
                                        <p>Everytime we save, we kill the previous picture, poor life 😎</p>
                                        <span> Coder • FullStack 👩‍👩‍🎨🎨|  </span>
                                        <span> Level • ⭐️ </span>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://github.com/AllanBallester/RiSE/issues/113" target="blank"><i class="fa fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>
                     </div>

                     <div class="row">

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547668731/P1044664_1_wrpffe.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>#133 - As a RiSER I know in which RiSE stage Homeless is</h4>
                                        <p>There is 10 Stage at RiSE. 10 is back to autonomy. We need to give this visibility for each profile.</p>
                                        <span> Coder • FullStack 👩‍👩‍🎨🎨|  </span>
                                        <span> Level • ⭐️⭐️⭐️ </span>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://github.com/AllanBallester/RiSE/issues/133" target="blank"><i class="fa fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547679277/0e291457-64c3-475d-aa09-33507e095661_1_k1ueku.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> #123 - Profile • Homeless Picture are not displayed properly</h4>
                                        <p> It's already difficult to get images, if they turned by themselves when we save 😅..</p>
                                        <span> Coder • Front 👩‍🎨|  </span>
                                        <span> Level • ⭐️ </span>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://github.com/AllanBallester/RiSE/issues/123" target="blank"><i class="fa fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547673083/WhatsApp_Image_2018-03-28_at_22.03.10__1_1_dcxeoq.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>#134 - As a RiSER I can be aware about the other RiSER level</h4>
                                        <p> I want to know my best buddies but also to be recognised by my community ✊ !!!</p>
                                        <span> Coder • FullStack 👩‍👩‍🎨🎨🎨|  </span>
                                        <span> Level • ⭐️⭐️ </span>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://github.com/AllanBallester/RiSE/issues/134" target="blank"><i class="fa fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>
                     </div>


                      <div class="row">

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547679914/P1033456_2_1_ewuhsf.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>#128 - Log in with Facebook ✅</h4>
                                        <p>As a user I will connect with Facebook like this less pain on my ass 😎..</p>
                                        <p>
                                        <span> Coder • Alexis Dufour 🧔 | Fullstack </span>
                                        <p> Know more about him :<p>
                                    </div>
                                    <div class="s-link">
                                      <a href="https://www.linkedin.com/in/alexis-dufour-18729b84/" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href=" https://www.malt.fr/profile/alexisdufour" target="blank"> <img src="http://res.cloudinary.com/hopwork/image/upload/brand/malt_favicon.png" class="favicon" />  <i class="fa fa-malt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547680461/P1033435_1_qzrntk.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                  <div class="desk">
                                        <h4>#127 - As a RiSEr I can fill shoes/clothes homeless' info ✅</h4>
                                        <p> How alone you feel when someone bring a 45 shoes size to someone that fit 42 😯..</p>
                                        <span> Coder • Alexis Dufour 🧔 | Fullstack </span>
                                        <p> Know more about him :<p>
                                    </div>
                                    <div class="s-link">
                                      <a href="https://www.linkedin.com/in/alexis-dufour-18729b84/" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href=" https://www.malt.fr/profile/alexisdufour" target="blank"> <img src="http://res.cloudinary.com/hopwork/image/upload/brand/malt_favicon.png" class="favicon" />  <i class="fa fa-malt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547674682/photo-1534665482403-a909d0d97c67_mbf3dg.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Express your style !</h4>
                                        <p> Design your own features and just enjoy to be designing the best technology that fight poverty worldwide.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://github.com/AllanBallester/RiSE/issues/new" target="blank"><i class="fa fa-github"></i></a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow"></h4>
                                <span class= "title-wow"> </span>
                            </div>
                        </div>
                     </div>
                </div>
