<div class= "banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 20%), url(<%= image_path "joinus.png" %>);">
  <div class="banner-content">
   <form class="form-inline" action="/homelesses" method="get" id="ButtonGeoloc">
  <div class="form-group">
  </div>
  </div>
</form>
  </div>

<h5> We have made what the streets are. So we know how to fix it.  </h5>

<p class ="sign-in-text text-center"> At Rise we aim to against the freedom and autonomy some of us lost make this No one stake can be solve in his enterity. However if all of us do our part we can solve it and go beyond.

We are 1000 people for each homeless in this world. We do not have to do nothing.   </p>
