<div class="container">
                    <div class="row">

                        <div class="heading-title text-center">
                            <h3 class="text-uppercase">Envi.e de parler du Mouv 📣 ? </h3>
                            <p class="p-top-30 half-txt"> Le mail contact presse c'est trop lent, trop chiant 😁. </p>
                            <p class="half-txt"> Dépose ta demande sur le channel #media de notre Slack. </p>
                            <p class="half-txt"> La personne la plus à même de te répondre se pointera ✌️. </p>

                              <div class="text-center p-top-10">
                         <a href="https://bit.ly/SlackPourEux" class="navbar-wagon-item navbar-wagon-link btn-yours5" target="blank"> Rejoindre le Slack <i class="fa fa-slack"></i></a>
                         <!-- <%= link_to t("readart"), "https://join.slack.com/t/risekindness/shared_invite/enQtNTI3NjUwNDM5MTg3LWFkODE5Y2Q0NjY3OWM2YjVhMTY3MzM2M2I0YjZlYjk3ZDAyZjI3NjlkMDkwZGVkOWM2YTdkZmI4YmUzNTBjYzk" , target: :_blank, class: "navbar-wagon-item navbar-wagon-link btn-yours4" %> -->
                              </div>

                                <iframe class = p-top-10 src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=xpsoa2apma" width="100%" height="480" seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen></iframe>

                        </div>

                        <div class="heading-title text-center">
                            <h3 class="text-uppercase"> LES PARUTIONS DU MOUV 📺 🗞 📻 </h3>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <a href="https://www.gqmagazine.fr/lifestyle/article/pour-eux-le-mouvement-citoyen-qui-nourrit-les-sans-abri-pendant-le-confinement?fbclid=IwAR1FApEWaVYQg4cWqrajtiPGXXvjFJMkb-vs0eqhlvWw8VfKgmFAx5jrT-s" target="blank"> <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591169241/gqlogo_cu8mrc.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> “Pour Eux”, le mouvement citoyen qui nourrit les sans-abri pendant le confinement </h4>
                                        <p> On les dit premières victimes du confinement ; les SDF “confinés dehors”. Depuis le...   </p>
                                    </div>
                                    <div class="s-link">
                                      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.gqmagazine.fr%2Flifestyle%2Farticle%2Fpour-eux-le-mouvement-citoyen-qui-nourrit-les-sans-abri-pendant-le-confinement%3Ffbclid%3DIwAR1FApEWaVYQg4cWqrajtiPGXXvjFJMkb-vs0eqhlvWw8VfKgmFAx5jrT-s&amp;src=sdkpreparse" target="blank"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.gqmagazine.fr/lifestyle/article/pour-eux-le-mouvement-citoyen-qui-nourrit-les-sans-abri-pendant-le-confinement?fbclid=IwAR1FApEWaVYQg4cWqrajtiPGXXvjFJMkb-vs0eqhlvWw8VfKgmFAx5jrT-s" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/intent/tweet?url=https://www.gqmagazine.fr/lifestyle/article/pour-eux-le-mouvement-citoyen-qui-nourrit-les-sans-abri-pendant-le-confinement?fbclid=IwAR1FApEWaVYQg4cWqrajtiPGXXvjFJMkb-vs0eqhlvWw8VfKgmFAx5jrT-s" target="blank"><i class="fa fa-twitter"></i></a>

                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                              <h4 class= "title-wow">Marine DELCAMBRE </h4>
<!--                                 <span class= "title-wow">Founder 🚀 <!-- &amp; ceo --></span>
 -->                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <a href="https://www.anousparis.fr/a-savoir/poureux-un-mouvement-solidaire-pour-livrer-des-repas-aux-sdf/?fbclid=IwAR0SK3T_2QAki0wEJKA-DVmLw-kvWGii3I0hpK_S0JUfiRUPLDtsvDBXVHY" target="blank"><img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591111287/anouspariss_o3yy0o.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> #PourEux, un mouvement solidaire pour livrer des repas faits maison aux SDF </h4>
                                        <p> Depuis le 20 mars, plus de 130 Parisiens ont décidé de sortir de chez eux pour passer leurs journées à quadriller la ville à vélo...</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.anousparis.fr/a-savoir/poureux-un-mouvement-solidaire-pour-livrer-des-repas-aux-sdf/?fbclid=IwAR0SK3T_2QAki0wEJKA-DVmLw-kvWGii3I0hpK_S0JUfiRUPLDtsvDBXVHY-s&amp;src=sdkpreparse" target="blank"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.anousparis.fr/a-savoir/poureux-un-mouvement-solidaire-pour-livrer-des-repas-aux-sdf/?fbclid=IwAR0SK3T_2QAki0wEJKA-DVmLw-kvWGii3I0hpK_S0JUfiRUPLDtsvDBXVHY" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/intent/tweet?url=https://www.anousparis.fr/a-savoir/poureux-un-mouvement-solidaire-pour-livrer-des-repas-aux-sdf/?fbclid=IwAR0SK3T_2QAki0wEJKA-DVmLw-kvWGii3I0hpK_S0JUfiRUPLDtsvDBXVHY" target="blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                               <h4 class= "title-wow">Celia LABORIE</h4>
<!--                                 <span class= "title-wow">RiSER in Lille 🇫🇷   <!-- &amp; ceo --></span>
 -->                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <a href="https://www.cnews.fr/videos/france/2020-04-14/poureux-des-repas-solidaires-pour-les-sans-abri-pendant-le-confinement?fbclid=IwAR0QPUhLD26UoOTEImp2m_E3slNx-fq3p2ZXv6bXRzOB_k8GpBsXn8cHqes" target="blank"><img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591168084/CNEWSLOGO_eikzp0.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>#POUREUX : Des Repas solidaires pour les sans-abirs en période de confinement. </h4>
                                        <p> #PourEux propose aux particuliers de préparer des repas et de les faire livrer aux personnes sans domicile.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.cnews.fr/videos/france/2020-04-14/poureux-des-repas-solidaires-pour-les-sans-abri-pendant-le-confinement?fbclid=IwAR0QPUhLD26UoOTEImp2m_E3slNx-fq3p2ZXv6bXRzOB_k8GpBsXn8cHqes-s&amp;src=sdkpreparse" target="blank"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.cnews.fr/videos/france/2020-04-14/poureux-des-repas-solidaires-pour-les-sans-abri-pendant-le-confinement?fbclid=IwAR0QPUhLD26UoOTEImp2m_E3slNx-fq3p2ZXv6bXRzOB_k8GpBsXn8cHqes" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/intent/tweet?url=https://www.cnews.fr/videos/france/2020-04-14/poureux-des-repas-solidaires-pour-les-sans-abri-pendant-le-confinement?fbclid=IwAR0QPUhLD26UoOTEImp2m_E3slNx-fq3p2ZXv6bXRzOB_k8GpBsXn8cHqes" target="blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Romain RIPOTEAU, Jean-luc THOMAS</h4>
<!--                                 <span class= "title-wow">Growth Hacker 👽  <!-- &amp; ceo --></span>
 -->                            </div>
                        </div>
                    </div>

                      <div class="row">

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <a href="https://www.lemonde.fr/m-le-mag/article/2020/05/07/poureux-cuisiner-chez-soi-des-repas-que-des-cyclistes-benevoles-livreront-a-des-sans-abri_6038904_4500055.html?fbclid=IwAR1vpjJhrZNHrTPL_3KfzIQN0RJyIJrnp8yxbdzSi3auo3zwMWeENFvSwrc" target="blank"> <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591168475/lemondelogo_jdizzk.png" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> #PourEux : cuisiner chez soi des repas que des cyclistes bénévoles livreront à des sans-abri</h4>
                                        <p>Près de 25 000 repas ont déjà été livrés et servis à des SDF..</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.lemonde.fr/m-le-mag/article/2020/05/07/poureux-cuisiner-chez-soi-des-repas-que-des-cyclistes-benevoles-livreront-a-des-sans-abri_6038904_4500055.html?fbclid=IwAR1vpjJhrZNHrTPL_3KfzIQN0RJyIJrnp8yxbdzSi3auo3zwMWeENFvSwrc-s&amp;src=sdkpreparse" target="blank"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.lemonde.fr/m-le-mag/article/2020/05/07/poureux-cuisiner-chez-soi-des-repas-que-des-cyclistes-benevoles-livreront-a-des-sans-abri_6038904_4500055.html?fbclid=IwAR1vpjJhrZNHrTPL_3KfzIQN0RJyIJrnp8yxbdzSi3auo3zwMWeENFvSwrc" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/intent/tweet?url=https://www.lemonde.fr/m-le-mag/article/2020/05/07/poureux-cuisiner-chez-soi-des-repas-que-des-cyclistes-benevoles-livreront-a-des-sans-abri_6038904_4500055.html?fbclid=IwAR1vpjJhrZNHrTPL_3KfzIQN0RJyIJrnp8yxbdzSi3auo3zwMWeENFvSwrc" target="blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Juliette GARNIER</h4>
<!--                                 <span class= "title-wow">RiSER in Lille 🇫🇷</span>
 -->                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <a href="https://fr.euronews.com/2020/05/27/maxime-livreur-de-repas-pour-les-sans-abri-pendant-la-crise-du-covid-19" target="blank"> <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591168761/euronewslogo_qxix3d.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Maxime, livreur de repas pour les sans-abri pendant la crise du Covid-19</h4>
                                        <p>Le mardi 17 mars, les rues de Lyon étaient vides. Les instructions du gouvernement français étaient claires : restez chez vous</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://fr.euronews.com/2020/05/27/maxime-livreur-de-repas-pour-les-sans-abri-pendant-la-crise-du-covid-19-s&amp;src=sdkpreparse" target="blank"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://fr.euronews.com/2020/05/27/maxime-livreur-de-repas-pour-les-sans-abri-pendant-la-crise-du-covid-19" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/intent/tweet?url=https://fr.euronews.com/2020/05/27/maxime-livreur-de-repas-pour-les-sans-abri-pendant-la-crise-du-covid-19" target="blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Natalia OESNER</h4>
<!--                                 <span class= "title-wow">MALE NURSE 👨🏻‍⚕️</span>
 -->                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <a href="https://www.nouvelobs.com/societe/20200501.OBS28238/avec-le-confinement-on-a-le-temps-de-cuisiner-autant-garder-une-part-pour-un-sans-abri.html?fbclid=IwAR1uYlFauSL63UUuvQt5uSs-aewfBnsKLwfv_NuxQJ8KVwGXN6qhZN_Qk78&fbclid=IwAR05_BOZBixUik6A6x0Sn_N9y8sWKLQU41bqcIU0tOc72Gsvl02JXCUQ-nM" target="blank"> <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591169427/lobslogo_hw2n30.png" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> « Avec le confinement, on a le temps de cuisiner. Autant garder une part pour un sans-abri »</h4>
                                        <p>A Paris, le mouvement citoyen #PourEux distribue environ 450 paniers repas chaque jour. Certains cuisinent tandis que..</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.nouvelobs.com/societe/20200501.OBS28238/avec-le-confinement-on-a-le-temps-de-cuisiner-autant-garder-une-part-pour-un-sans-abri.html?fbclid=IwAR1uYlFauSL63UUuvQt5uSs-aewfBnsKLwfv_NuxQJ8KVwGXN6qhZN_Qk78&fbclid=IwAR05_BOZBixUik6A6x0Sn_N9y8sWKLQU41bqcIU0tOc72Gsvl02JXCUQ-nM-s&amp;src=sdkpreparse" target="blank"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.nouvelobs.com/societe/20200501.OBS28238/avec-le-confinement-on-a-le-temps-de-cuisiner-autant-garder-une-part-pour-un-sans-abri.html?fbclid=IwAR1uYlFauSL63UUuvQt5uSs-aewfBnsKLwfv_NuxQJ8KVwGXN6qhZN_Qk78&fbclid=IwAR05_BOZBixUik6A6x0Sn_N9y8sWKLQU41bqcIU0tOc72Gsvl02JXCUQ-nM" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/intent/tweet?url=https://www.nouvelobs.com/societe/20200501.OBS28238/avec-le-confinement-on-a-le-temps-de-cuisiner-autant-garder-une-part-pour-un-sans-abri.html?fbclid=IwAR1uYlFauSL63UUuvQt5uSs-aewfBnsKLwfv_NuxQJ8KVwGXN6qhZN_Qk78&fbclid=IwAR05_BOZBixUik6A6x0Sn_N9y8sWKLQU41bqcIU0tOc72Gsvl02JXCUQ-nM" target="blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Mahaut LANDAZ</h4>
<!--                                 <span class= "title-wow">RiSER in Lille 🇫🇷</span>
 -->                            </div>
                        </div>
                     </div>

                     <div class="row">

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <a href="https://www.youtube.com/watch?v=kFCVXMWLuQk&amp;feature=youtu.be" target="blank"> <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591169709/france3logo_snpa35.png" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Le mouvement citoyen et solidaire #PourEux distribue des paniers repas aux SDF à Paris</h4>
                                        <p>Les cyclistes du réseau #Pour eux sillonnent les rues de Paris et livrent des repas aux plus démunis.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://france3-regions.francetvinfo.fr/paris-ile-de-france/paris/mouvement-citoyen-solidaire-poureux-distribue-paniers-repas-aux-sdf-paris-1821502.html?fbclid=IwAR2xF1Cccc-T9Xvt22XCn28Lu0lgmFJ9Hwyi_cebitlsieFGoi6qBwxrQus-s&amp;src=sdkpreparse" target="blank"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.youtube.com/watch?v=kFCVXMWLuQk&amp;feature=youtu.be" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/intent/tweet?url=https://www.youtube.com/watch?v=kFCVXMWLuQk&amp;feature=youtu.be" target="blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Emmanuelle HUNZINGER</h4>
<!--                                 <span class= "title-wow">RiSER in Lille 🇫🇷</span>
 -->                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <a href="https://information.tv5monde.com/terriennes/poureux-femmes-en-premiere-ligne-pour-nourrir-les-sdf-en-periode-de-confinement-357631?fbclid=IwAR3GBwhdmCrgwX_FCs5V_Lvlid3JEVfh5dovhRvoccPZRSblnx6qKCtbZ-8" target="blank"> <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591170022/tv5mondelogo_nrrz8i.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> #Poureux : femmes en première ligne pour nourrir les SDF en période de confinement</h4>
                                        <p>Objectif :  distribuer chaque jour à un SDF le repas préparé par un.e citoyen.ne dans sa cuisine. Pour cuisiner et livrer..</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://information.tv5monde.com/terriennes/poureux-femmes-en-premiere-ligne-pour-nourrir-les-sdf-en-periode-de-confinement-357631?fbclid=IwAR3GBwhdmCrgwX_FCs5V_Lvlid3JEVfh5dovhRvoccPZRSblnx6qKCtbZ-8-s&amp;src=sdkpreparse" target="blank"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://information.tv5monde.com/terriennes/poureux-femmes-en-premiere-ligne-pour-nourrir-les-sdf-en-periode-de-confinement-357631?fbclid=IwAR3GBwhdmCrgwX_FCs5V_Lvlid3JEVfh5dovhRvoccPZRSblnx6qKCtbZ-8" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/intent/tweet?url=https://information.tv5monde.com/terriennes/poureux-femmes-en-premiere-ligne-pour-nourrir-les-sdf-en-periode-de-confinement-357631?fbclid=IwAR3GBwhdmCrgwX_FCs5V_Lvlid3JEVfh5dovhRvoccPZRSblnx6qKCtbZ-8" target="blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Isabel SOLER</h4>
<!--                                 <span class= "title-wow">SEO Consultant 💻</span>
 -->                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <a href="https://make.headliner.app/download/72dec1e3-7dbb-4148-be7f-f3f271074f81?source=user-export-email&pid=ca980078-b927-4e42-b84e-0f456e6e0b25&_branch_match_id=642642886618416306&utm_source=email&utm_medium=video-detail" target="blank"> <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591170535/franceinterlogo_hfebio.png" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Comment les chefs et les restaurateurs réinventent leur métier pendant la crise ? On en parle avec nos invités et vous amis auditeurs</h4>
                                        <p>Alors si vous cuisinez un peu chez vous..</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://information.tv5monde.com/terriennes/poureux-femmes-en-premiere-ligne-pour-nourrir-les-sdf-en-periode-de-confinement-357631?fbclid=IwAR3GBwhdmCrgwX_FCs5V_Lvlid3JEVfh5dovhRvoccPZRSblnx6qKCtbZ-8-s&amp;src=sdkpreparse" target="blank"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://information.tv5monde.com/terriennes/poureux-femmes-en-premiere-ligne-pour-nourrir-les-sdf-en-periode-de-confinement-357631?fbclid=IwAR3GBwhdmCrgwX_FCs5V_Lvlid3JEVfh5dovhRvoccPZRSblnx6qKCtbZ-8" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/intent/tweet?url=https://information.tv5monde.com/terriennes/poureux-femmes-en-premiere-ligne-pour-nourrir-les-sdf-en-periode-de-confinement-357631?fbclid=IwAR3GBwhdmCrgwX_FCs5V_Lvlid3JEVfh5dovhRvoccPZRSblnx6qKCtbZ-8" target="blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Elvira MASSON</h4>
<!--                                 <span class= "title-wow">Fullstack Developer 👨‍💻</span>
 -->                            </div>
                        </div>
                     </div>


                      <div class="row">

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <a href="https://www.bfmtv.com/mediaplayer/video/lille-depuis-le-debut-du-confinement-de-nombreux-habitants-de-la-metropole-cuisinent-benevolement-des-repas-pour-les-sans-abri-1244415.html" target="blank"> <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591172082/bfm_tv_zuykaw.png" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Lille: depuis le début du confinement, de nombreux habitants de la métropole cuisinent bénévolement des repas pour les sans-abri</h4>
                                        <!-- <p>My profile is under construction. Soon you'll be able to connect with me.</p> -->
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.bfmtv.com/mediaplayer/video/lille-depuis-le-debut-du-confinement-de-nombreux-habitants-de-la-metropole-cuisinent-benevolement-des-repas-pour-les-sans-abri-1244415.html-s&amp;src=sdkpreparse" target="blank"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.bfmtv.com/mediaplayer/video/lille-depuis-le-debut-du-confinement-de-nombreux-habitants-de-la-metropole-cuisinent-benevolement-des-repas-pour-les-sans-abri-1244415.html" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/intent/tweet?url=https://www.bfmtv.com/mediaplayer/video/lille-depuis-le-debut-du-confinement-de-nombreux-habitants-de-la-metropole-cuisinent-benevolement-des-repas-pour-les-sans-abri-1244415.html" target="blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">BFM TV</h4>
<!--                                 <span class= "title-wow">Graphic Designer 👨🏻‍🎨</span>
 -->                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                   <a href="https://www.facebook.com/groups/poureuxparis/permalink/508311673176218/" target="blank"> <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591172771/ajpluslogo_np5ihc.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Eviter une famine chez les sans-abris, c'est l'objectif de ce collectif citoyen.</h4>
                                        <!-- <p>My profile is under construction. Soon you'll be able to connect with me.</p> -->
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/groups/poureuxparis/permalink/508311673176218/-s&amp;src=sdkpreparse" target="blank"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.facebook.com/groups/poureuxparis/permalink/508311673176218/" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/intent/tweet?url=https://www.facebook.com/groups/poureuxparis/permalink/508311673176218/" target="blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Tanguy GARREL</h4>
<!--                                 <span class= "title-wow">Graphic Designer 👨🏻‍🎨</span>
 -->                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <a href="https://www.linfodurable.fr/educationcitoyennete/comme-des-milliers-de-personnes-cuisinez-pour-les-sans-abri-17649" target="blank"> <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1591173227/infodurable_bhyxyz.png" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Comme des milliers de personnes, cuisinez pour les sans-abri !</h4>
                                        <p>Le collectif #PourEux s’est monté aux quatre coins de la France pour répondre aux besoins alimentaires des sans-abri</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linfodurable.fr/educationcitoyennete/comme-des-milliers-de-personnes-cuisinez-pour-les-sans-abri-17649-s&amp;src=sdkpreparse" target="blank"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.linfodurable.fr/educationcitoyennete/comme-des-milliers-de-personnes-cuisinez-pour-les-sans-abri-17649" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/intent/tweet?url=https://www.linfodurable.fr/educationcitoyennete/comme-des-milliers-de-personnes-cuisinez-pour-les-sans-abri-17649" target="blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Clément PEDROSA</h4>
<!--                                 <span class= "title-wow">Graphic Designer 👨🏻‍🎨</span>
 -->                            </div>
                        </div>

                  </div>

