<div class='row'>
  <div class="text-center ">

  <%=image_tag ("http://res.cloudinary.com/dk9kkvy1o/image/upload/c_scale,w_433/v1504287697/LogoPink_mxp8ls.png") %>
  <h1 class= "sign-in-text">Donation successfull !!</h1>

    <!-- <p class= "sign-in-text give-me-space">Status: <%= @donation.state %></p>
    <p class="sign-in-text">Amount: <%= humanized_money_with_symbol(@donation.amount) %></li> -->

    <p class= "sign-in-text give-me-space"> <strong> You will received soon an email to notify you of this payment information, please note to check !! You will also know who you helped around the world. </strong> </p>
  </div>
</div>
