.banner {
  background-size: cover;
/*  background :linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
*/height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
