/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "navbar";
@import "footer";
@import "banner";
@import "cards";
@import "button";
@import "form-update-position";
@import "form-styling";

.big p {
  font-size: 20px;
  color : rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: lighter;
  margin-bottom: 50px;
}

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
  color : white;
  background-color:#F4F4F4;
}

h1, h2, h3{
  font-family: Raleway, Helvetica, sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

h5 {
  font-family: Raleway, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color : grey;
  margin-bottom: 15px;
}


h6 {
  font-family: Raleway, Helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}


.text-center {
  text-align: center;
}

.form {
    display: block;
    margin-top: 0em;
}

.testimonial{
    background: #fff;
    text-align: center;
    padding: 40px 20%;
    border-radius: 5px;
}
.testimonial .pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}
.testimonial .testimonial-title{
    font-size: 16px;
    color: #9e9e9e;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.testimonial .post{
    display: block;
    font-size: 12px;
    font-style: italic;
    color: #bcbcbc;
    margin-top: 10px;
    text-transform: uppercase;
}
.testimonial .description{
    font-size: 15px;
    font-style: italic;
    color: #86868a;
    line-height: 1.8;
    margin-top: 10px;
}


.rised{
    background: #fff;
    text-align: center;
    padding: 40px 20%;
    border-radius: 5px;
    margin : 12px;
}
.rised .pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.rised .pic img{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}
.rised .rised-title{
    font-size: 16px;
    color: #9e9e9e;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.rised .post{
    display: block;
    font-size: 12px;
    font-style: italic;
    color: #bcbcbc;
    margin-top: 10px;
    text-transform: uppercase;
}
.rised .description{
    font-size: 15px;
    font-style: italic;
    color: #86868a;
    line-height: 1.8;
    margin-top: 10px;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

.card description p {
    font-size: 10px;
    opacity: 0.7;
}

.card {
  background-size: cover;
  background-position: left;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 40px;
  margin-bottom: 16px;
  margin : 10px
}

#profile-pic {
  border-radius : 50%;
  width: 150px;
  height: 150px;
}

.blank-text {
  font-size : 30px;
}

.bio p {
  font-family: Raleway, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  color : black;
  margin : 30px;
  opacity : 0.4;
}

#btn-map {
  text-align: center;
}

.picprofile {
  background-size: cover;
  background-position: left;
  height : 150px;
  margin-bottom : 30px;
}

.picfeedback {
  background-color: grey;
}

.map-text {
  margin-bottom: 0px;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

.Log-in {
  font : #484848;
}

.button-login {
  width: 130px;
}

.sign-in-text {
  color: black;
}

.sign-in-text-account {
  color: black;
  text-align : center;
}

.sign-in-title{
  color: black;
  padding : 5px;
  text-align: 100%;
}

.give-me-space {
  margin: 30px;
}



