// Place all the styles related to the homelesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description-homeless p {
color: black;
}
